<% include ../partial/header %>

<div class="wrapper d-flex align-items-stretch">
    <% include ../partial/sidebar%>
    
        <div id="content" class="p-4 pt-1">
        <h1>Activity</h1>
        <hr>
        <h3>Library System</h3>
        <div class="">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
</div>