<% include ../partial/header %>
<br>
<div class="container-fluid">

    <font face="Poppin" size="7">Add Project</font>
    <hr>

</div>

<div class="container" >
<form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="project name" id="inputEmail3">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">Members</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Rama Anak Emas
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Biksu Kukuh
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Bro Ale
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Bay Bay Yuuu
            </label>
          </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</div>