<% include ../partial/header %>

<div class="wrapper d-flex align-items-stretch">
    <% include ../partial/sidebar%>

    <!-- Page Content  -->
    <div id="content" class="p-4 pt-1">
        <h1>Overview</h1>
        <hr>
        <h3>Library System</h3>
        <div class="card">
            <div class="card-body">
                <h6>issu tracking</h6>
                <ul>
                    <li>Bug:</li>
                    <li>Feature:</li>
                    <li>Support:</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h6>Members</h6>
                <ul>
                    <li>Tukang Koding</li>
                    <li>Sultan Koding</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<% include ../partial/footer%>



