<nav style="background-color:  rgb(201, 201, 201);" id="sidebar">
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/projects/overview"><span class="fa fa-home mr-3"></span> Overview</a>
        </li>
        <li>
            <a href="/projects/activity"><span class="fa fa-user mr-3"></span> Activity</a>
        </li>
        <li>
            <a href="/projects/members"><span class="fa fa-sticky-note mr-3"></span> Members</a>
        </li>
        <li>
            <a href="/projects/issues"><span class="fa fa-sticky-note mr-3"></span> Issues</a>
        </li>
    </ul>

</nav>